* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    padding: 50px;
}

.App {
    max-width: 900px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 50px;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 2em;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .submit-button:hover {
    background-color: #45a049;
}
